<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
</head>
<body>
    <a href=""> Home </a> /  <a href="items"> Items </a> / <a href="about"> About </a>

    <h1>Приветствую!</h1>
    <p>
        Это главная страница сайта.
    </p>
    <p> Меня зовут: <i> {{ name }} </i><br>
    Email: <i> {{ email }}
    </p>
    <p><i>Сайт пока в разработке...</i></p>

</body>
</html>
